//
//  Secrets.xcconfig
//  EzyBook
//
//  Created by youngkyun park on 5/10/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = 8aB2cD6eF0gH4jK8lM2nP6qR0sT4uV9wX

//$() 주석 방지
Base_URL = http:/$()/activity.sesac.kr:34501

Kakao_NativeKey = 3fa3e00e3eb2c85849dde6cada1b9569
